# Dépendances
node_modules/

# Variables d'environnement
.env
.env.local
.env.*.local

# Build
client/build/
client/dist/

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
